/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /*Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/ */
  /* Start of "Micro clearfix" */
  
  .cf {
    zoom: 1;
  }
  .cf:before,
  .cf:after {
    content: "";
    display: table;
  }
  .cf:after {
    clear: both;
  }
  
  /* End of "Micro clearfix" */
  
  
 /*static grid*/

 /* main {
    
    width: 960px;
    margin: 20px auto;
    border:1px solid #000;
    background-color:rgba(0, 0, 0, 0.4) ;
    background-image: url("../img/grid.png");
  }
header.primary, footer.primary {
  
    width: 916px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    float:left;
}
#blog {
  
    width: 604px;
    background-color: rgba(0, 0, 0, 0.4);
    float:left;
    margin-left:20px;
    padding: 20px;
}

aside {
  
    width: 292px;
    float:left;
    background-color: rgba(0, 0, 0, 0.4);
    margin-left:20px;
    padding:20px;
}
*/

/*responsive changes - target/context=result*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width:100%;
  height:auto;}
      main { 
      width: 80vw;
      /*margin: 20px auto;
      border:1px solid #000;
      background-image: url("../img/grid.png");*/
      display:grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 20px;
      padding:0 20px;
    }
  header.primary{
    
    grid-column:1/span 10;
  }

  content {
    grid-column:1 span 10;
    padding:20px;
    display:grid;
    grid-template-columns: subgrid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap:20px;

  }
  #blog {
    
      /*width: 62.91%;
      background-color: rgba(0, 0, 0, 0.4);
      float:left;
      margin-left:2.083%;
      padding:2.173%;*/
      grid-column: 1 /span 8;
      grid-row:2;
      padding: 20px;

  }
  
  aside {
    
      /*width: 30.41%;
      float:left;
      background-color: rgba(0, 0, 0, 0.4);
      margin-left:2.083%;
      padding:2.173%;*/
      grid-column: 8 /span 4;
      padding: 20px;
  }

  footer {
    
    
      grid-column: 1/span 10;
      padding: 20px;
  }
/*
MAX WIDTH
@media screen and (max-width:600px){
.row{
  grid-template-column:1fr;
    }
}
RANGED
@media screen and (max-width:600px) and (min-width:601){
.row{
  grid-template-column:repeat(2,1fr);
    }
}
MIN WIDTH
@media screen and (min-width:801px){
.row{
  grid-template-column:repeat(4,1fr);
    }
}
*/


 
  